USE [CodeSampleDB]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 9/19/2020 10:31:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](2) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CountryStates]    Script Date: 9/19/2020 10:31:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryStates](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryID] [int] NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 9/19/2020 10:31:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NULL,
	[Description] [varchar](100) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_Departments_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_Departments_IsDeleted]  DEFAULT ((0)),
	[LastActivityOn] [datetime] NOT NULL CONSTRAINT [DF_Departments_LastActivityOn]  DEFAULT (getdate()),
	[LastActivityBy] [int] NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 9/19/2020 10:31:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Mobile] [varchar](50) NULL,
	[DOB] [date] NULL,
	[Gender] [varchar](20) NULL,
	[Country] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[ZipCode] [varchar](10) NULL,
	[Address] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_Employees_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_Employees_IsDeleted]  DEFAULT ((0)),
	[LastActivityOn] [datetime] NOT NULL,
	[LastActivityBy] [int] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([ID], [Code], [Name]) VALUES (1, N'AD', N'Andorra')
INSERT [dbo].[Countries] ([ID], [Code], [Name]) VALUES (2, N'AE', N'United Arab Emirates')
INSERT [dbo].[Countries] ([ID], [Code], [Name]) VALUES (3, N'AF', N'Afghanistan')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[CountryStates] ON 

INSERT [dbo].[CountryStates] ([ID], [CountryID], [Code], [Name]) VALUES (1, 10, N'B', N'BUENOS AIRES')
INSERT [dbo].[CountryStates] ([ID], [CountryID], [Code], [Name]) VALUES (2, 10, N'K', N'CATAMARCA')
INSERT [dbo].[CountryStates] ([ID], [CountryID], [Code], [Name]) VALUES (3, 10, N'H', N'CHACO')
GO
SET IDENTITY_INSERT [dbo].[CountryStates] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([ID], [Title], [Description], [IsActive], [IsDeleted], [LastActivityOn], [LastActivityBy]) VALUES (1, N'HR', NULL, 1, 0, CAST(N'2020-09-19 09:36:45.010' AS DateTime), NULL)
INSERT [dbo].[Departments] ([ID], [Title], [Description], [IsActive], [IsDeleted], [LastActivityOn], [LastActivityBy]) VALUES (2, N'Engineering', NULL, 1, 0, CAST(N'2020-09-19 09:37:08.233' AS DateTime), NULL)
INSERT [dbo].[Departments] ([ID], [Title], [Description], [IsActive], [IsDeleted], [LastActivityOn], [LastActivityBy]) VALUES (3, N'Marketing', NULL, 1, 0, CAST(N'2020-09-19 09:37:12.610' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([ID], [DepartmentId], [FirstName], [LastName], [Email], [Mobile], [DOB], [Gender], [Country], [State], [City], [ZipCode], [Address], [IsActive], [IsDeleted], [LastActivityOn], [LastActivityBy]) VALUES (2, 5, N'Girijesh', N'Gupta', N'girijesh.gupta@gmail.com', N'8972934', CAST(N'2020-09-17' AS Date), N'Male', N'Pakistan', N'Balochisan', N'New Delhi', N'110096', N'New Delhi New Ashok Nagar', 0, 0, CAST(N'2020-09-19 10:23:25.790' AS DateTime), NULL)
INSERT [dbo].[Employees] ([ID], [DepartmentId], [FirstName], [LastName], [Email], [Mobile], [DOB], [Gender], [Country], [State], [City], [ZipCode], [Address], [IsActive], [IsDeleted], [LastActivityOn], [LastActivityBy]) VALUES (3, 2, N'Girijesh', N'Gupta', N'girijeshgupta786@gmail.com', N'8447540782', CAST(N'2020-09-11' AS Date), N'Male', N'India', N'Jammu & Kashmir', N'New Delhi', N'110096', N'New Delhi New Ashok Nagar', 1, 0, CAST(N'2020-09-19 10:21:40.020' AS DateTime), NULL)
INSERT [dbo].[Employees] ([ID], [DepartmentId], [FirstName], [LastName], [Email], [Mobile], [DOB], [Gender], [Country], [State], [City], [ZipCode], [Address], [IsActive], [IsDeleted], [LastActivityOn], [LastActivityBy]) VALUES (4, 5, N'Akash', N'KG', N'girijesh.gupta@gmail.com', N'9876543210', CAST(N'2020-09-17' AS Date), N'Male', N'Pakistan', N'Balochisan', N'New Delhi', N'110096', N'New Delhi New Ashok Nagar', 0, 0, CAST(N'2020-09-19 10:29:45.380' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([ID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
